:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.projects .card {
  position: relative;
  background-color: #0e1114;
}

.projects .card .face {
  width: 300px;
  height: 200px;
  transition: 0.4s;
}

.projects .card .face.face1 {
  position: relative;
  background: #0e1114;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.projects .card:hover .face.face1 {
  transform: translateY(0);
  z-index: 100;
  margin-top: 20px;
  margin-bottom: -20px;
  box-shadow:
    inset 0 0 300px #001529,
    0 0 50px  #00f48e,
    0 0 90px  #00f48e,
    10px 0 80px #00f48e;
}

.projects .card .face.face1 .content {
  opacity: 0.5;
  transition: 0.5s;
  text-align: center;
}

.projects .card:hover .face.face1 .content {
  opacity: 1;
}

.projects .card .face.face1 .content i {
  font-size: 4em;
  color: #00f48e;
  display: inline-block;
}

.projects .card .face.face1 .content h3 {
  color: #00f48e;
  font-size: 25px;
}

.projects .card .face.face1 .content p {
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.face2 .content {
  background-size: cover;
  width: 300px;
  height: 100%;
}

.projects .card .face.face1 .content a {
  transition: 0.5s;
}

.projects .card .face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-100px);
}

.projects .card:hover .face.face2 {
  transform: translateY(0);
}

a,
.projects .card .face.face2 .content p {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  color: #333;
}

.projects .card .face.face2 .content a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  outline: 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.projects .card .face.face2 .content a:hover {
  background: #333;
  color: whitesmoke;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.projects .card .face.face2 button {
  border-radius: 3px;
  background-color: #001529;
  padding: 8px;
  border: none;
  margin-top: 3px;
  margin-bottom: -18px;
  width: 80%;
  color: #00f48e;
}

.projects .card .face.face2 button:hover {
  background-color: rgba(9, 32, 63, 0.95);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  position: relative;
  max-height: 90%;
  z-index: 1000;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.project-link:hover {
  background: #45a049;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure the modal is in front */
}
.modal.hidden {
  display: none;
}
.no-scroll {
  overflow: hidden;
}

.modal-image {
  width: 100%;
  height: 300px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.project-card h2 {
  text-align: center;
  color: green;
}

.project-card p {
  text-align: center;
  color: black;
}